header{
    width: 100%;
    position: sticky;
    background-color: var(--pri-color);
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(246, 246, 246, 0.2);
    height: 4.5rem;
    display: flex;
    align-items: center;
}

.active{
    color: var(--sec-color);
}

/* loadpage class */
.loadpage{
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: 0.3px;
}

.loadpage .col{
    color: var(--sec-color)
}

.loadpage img{
    width: 6rem;
}

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header .desktop{
    display: none;
}

header a{
    color: var(--white);
    text-transform: capitalize;
    font-size: 1.1rem;
}

header .mobile-dropdown{
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--pri-color);
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 70%;
    max-width: 20rem;
    z-index: 100;
    display: none;
}

.mobile-dropdown .dropdown-inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.mobile-dropdown .toggler-close{
    position: absolute;
    top: 1rem;
    right: 2rem;
}

header .mobile-dropdown .menus{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.mobile i{
    font-size: 1.8rem;
}

/* toggler buttons */
header .mobile .toggler-open,
header .mobile .toggler-close{
    z-index: 5;
}

button.toggler-open,
button.toggler-close{
    all: unset;
    /* z-index: 10; */
}

.toggler-open{
    color: var(--white);
}

.toggler-close i{
    color: var(--white);
}

header .mobile-dropdown a{
    color: var(--white);
}

.animate-mobile{
    animation: animatemobilemenu 1s forwards;
}

.remove-animation{
    animation: remove-animate 1s forwards;
}

@keyframes animatemobilemenu {
    0%{
        transform: translateX(21rem);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes remove-animate {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(21rem);
    }
}

.mobile .socials button {
    all: unset;
    color: var(--sec-color);
    filter: brightness(0.95);
}

.socials{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}



/* Media Query */
@media (min-width: 768px){
    .loadpage img{
        width: 9rem;
    }
}

@media (min-width: 1000px){
    header .mobile{
        display: none;
    }

    header{
        height: 5.5rem;
    }

    header > nav{
        padding: 1.5rem 0;
    }

    header .desktop{
        display: flex;
        gap: 2rem;
    }

    .desktop>a{
        font-size: 1.2rem;
        font-weight: 400;
    }

    .loadpage{
        font-size: 1.7rem;
    }

    .desktop>a:hover{
        color: var(--sec-color);
    }
}

@media (min-width: 1500px){

}